@import './font.css';

body {
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #bcbdc0;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  color: #eee;
  transition: all 0.5s;
}

.nav.active {
  color: #231f20;
  background-color: #fff;
  border-bottom: 1px #eee solid;
}

.nav__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
}

.nav__section--left {
  position: absolute;
  top: 0;
  left: 0;
}

.nav__section--right {
  position: absolute;
  top: 0;
  right: 0;
}

.nav__icon {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  filter: brightness(0) invert(1);
  transition: filter 0.5s;
}

.active .nav__icon {
  filter: none;
}

.nav__title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 1023px) {
  .nav__title {
    display: none;
  }
}

.nav__button-list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.nav__button-item {
  float: left;
  font-size: 1rem;
}

.nav__button-item + .nav__button-item::before {
  padding: 0 1rem;
  color: #eee;
  content: "|";
}

.nav__button-item a {
  color: #eee;
  text-decoration: none;
  transition: color 0.5s;
}

.active .nav__button-item a {
  color: #231f20;
}

.nav__button-item a:hover {
  color: #bb8732;
}

.nav__button-login {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 68px;
  font-size: 1rem;
  color: #eee;
  background-color: #0f71de;
}

.nav__button-login:hover {
  background-color: #0062ad;
}

.wallpaper {
  width: 100%;
  height: 100vh;
  background: url(../images/wallpaper.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* .wallpaper__clip {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
} */

.hero {
  position: absolute;
  top: 50%;
  left: 4rem;
  z-index: 3;
  margin-right: 2rem;
  transform: translateY(-50%);
}

.hero__title {
  margin: 0;
  font-size: 3rem;
  font-weight: normal;
  color: #eee;
}

.hero__title--accent {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: -4px;
}

.hero__title--glow {
  letter-spacing: 0.25rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 1rem white;
}

.hero__subtitle {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
  color: #d1d1d1;
}

.container {
  max-width: 1024px;
  margin: 4rem auto;
}

@media (max-width: 1023px) {
  .container {
    margin: 2rem;
  }
}

.title {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: #0f71de;
}

.title::before {
  margin-right: 1rem;
  content: "|";
}

.content {
  font-size: 1rem;
  color: #555;
}

.link {
  color: #bb8732;
  text-decoration: none;
  white-space: nowrap;
  background-image: linear-gradient(90deg, #bb8732, #bb8732);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 0% 0.0625em;
  transition: background-size 0.5s;
}

.link:focus,
.link:hover {
  background-size: 100% 0.0625em;
}

.icon {
  width: 24px;
  height: 24px;
}

.bookmark-container {
  background-color: #ebf2fe;
}

.bookmark-list__title {
  max-width: 1024px;
  padding-top: 1rem;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .bookmark-list__title {
    margin: 0 2rem;
  }
}

.bookmark-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.bookmark {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  text-align: center;
}

.bookmark__icon {
  box-sizing: content-box;
  width: 6rem;
  height: 6rem;
  padding: 2rem;
  border-radius: 50%;
}

.bookmark__icon--inha {
  background-color: #0066b3;
}

.bookmark__icon--facebook {
  background-color: #3b5998;
}

.bookmark__icon--kakaotalk {
  background-color: #ffd400;
}

.bookmark__icon--instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.grid {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 2rem;
  margin: 2rem 0;
}

.grid--double-stage {
  grid-template-columns: repeat(2, 1fr);
}

.grid--triple-stage {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1023px) {
  .grid--double-stage {
    grid-template-columns: 1fr;
  }

  .grid--triple-stage {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .grid--triple-stage {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 2px #eee solid;
}

.grid-item__title {
  margin: 1rem 0;
  color: #231f20;
}

.grid-item__content {
  margin: 1rem 0;
  color: #777;
}

.footer {
  color: #777;
  border-top: 1px #eee solid;
}

.footer__container {
  max-width: 1024px;
  margin: 2rem auto;
}

@media (max-width: 1023px) {
  .footer__container {
    margin: 2rem;
  }
}

.footer__title {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  color: #0f71de;
}

.footer__content {
  margin: 0.5rem 0;
  font-size: 0.8rem;
  font-weight: normal;
  color: #777;
}

.footer__link {
  color: #777;
  text-decoration: none;
  white-space: nowrap;
}

.footer__link:hover {
  color: #231f20;
}
